<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<title>Verndale Javascript Code Test</title>
</head>

<body>
	<div id="app">
		<div class="input-group">
			<div class="dropdown">
				<div class="dropdown-content display-block">
					<input type="text" v-model="searchInput" placeholder="Search States" id="searchInput"
						v-on:keyup="fetchAndFilter()">
					<a v-for="item in states" v-on:click="setSelected(item)">{{item.name}}</a>
				</div>
			</div>
		</div>
		<label class="clear" v-on:click="clear()">X</label>
	</div>
	<script src='../dist/main-bundle.js'></script>
</body>

</html>