#searchInput {
    border-box: box-sizing;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 10px 12px 10px;
		border: solid black 1px;
		border-radius: 5px;
		width: 300px;
}

.input-group {
	margin: auto;
}

#searchInput:focus {
    outline: 3px solid #ddd;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.display-block {
    display: block;
}

.clear {
	z-index: 10000;
	position: absolute;
	left: 280px;
	top: 15px;
}